.add-counter {
  width: 200px;
  cursor: pointer;
  height: 300px;
  border: 2px solid red;
  display: flex;
  justify-self: center;
  align-items: center;
  color: white;
  background-color: #777 !important;
  border-color: transparent !important;
}
@media only screen and (min-width: 768px) {
  .add-counter:hover {
    transform: scale(1.1);
  }
}
