.content {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  text-align: center;
  border: 1px solid red;
  width: 70%;
  .countdowns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
