.counter {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  border: 2px solid rgb(100, 100, 100);
  margin: 10px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  cursor: grab;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  padding: 10px;
  justify-content: center;
  align-content: center;
  background-color: white;
  &.hasImage {
    justify-content: space-between;
  }
  .eventDetails {
    height: 60%;
  }
  .eventDate {
    font-size: smaller;
  }
  .eventTitle {
    font-weight: bold;
    font-size: larger;
  }
  .eventImage {
    display: flex;
    align-self: center;
    justify-self: flex-start;
    margin-top: -10%;
    width: 110%;
    height: 70%;
    background-color: red;
    border: 2px solid yellow;
  }
}

@media only screen and (min-width: 768px) {
  .counter:hover {
    transform: scale(1.05);
  }
  .counter:active {
    transform: rotate(-10deg);
    z-index: 9999 !important;
    cursor: grabbing;
  }
  .counter:not(:hover) {
    opacity: 0.3;
  }
}
