.modal {
  border: 2px solid green;
  background-color: palevioletred;
  border-radius: 80px;
  box-shadow: 10px 10px #335533;
  width: 70vw;
  height: 70vh;
  overflow: hidden;
  position: absolute;
  top: 15vh;
  left: 15vw;
  display: block;
  clear: both;
  z-index: 9999;
  .modalContent {
    z-index: 500;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: space-around;
    padding: 10px;
    .closeModal {
      width: 50px;
      background-color: transparent;
      border: none;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-self: flex-end;
      color: white;
      &:hover {
        background-color: transparent;
        color: red;
      }
    }
  }
}
